node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# dependency-cruiser
dependency-cruiser.dot
dependency-cruiser.dot.svg
dependency-cruiser.html
dependency-cruiser.json
